
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    ports:
      - "29092:29092"
      - "9092:9092"

    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/localhost/9092"]
      interval: 5s
      timeout: 5s
      retries: 40

  data-generator:
    image: python:3.9-slim
    depends_on:
      kafka:
        condition: service_healthy
    working_dir: /app
    volumes:
      - .:/app
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      PYTHONUNBUFFERED: "1"
    command: >
      sh -c "pip install --no-cache-dir kafka-python &&
             python data_generator.py"
  spark-master:
    image: apache/spark:3.5.0
    command: >
      sh -c "/opt/spark/sbin/start-master.sh && tail -f /dev/null"
    environment:
      SPARK_MODE: master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - .:/opt/app

  spark-worker:
    image: apache/spark:3.5.0
    depends_on:
      - spark-master
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
    command: >
      sh -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null"
    volumes:
      - .:/opt/app

  spark-processor:
    build:
      context: .
      dockerfile: Dockerfile.spark
    depends_on:
      - kafka
      - spark-master
    working_dir: /app
    volumes:
      - .:/app
      - ./storage:/app/storage
    environment:
      SPARK_MASTER: spark://spark-master:7077
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      PYTHONUNBUFFERED: 1
    command: >
      sh -c "sleep 10 && python spark_processor.py"

  streamlit-app:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    depends_on:
      - spark-processor
    working_dir: /app
    volumes:
      - .:/app
      - ./storage:/app/storage
    ports:
      - "8501:8501"
    environment:
      STORAGE_PATH: /app/storage
      PYTHONUNBUFFERED: 1
    command: >
      streamlit run streamlit_app.py --server.port=8501 --server.address=0.0.0.0
